# Python
backend/venv/
frontend/venv/
venv/
__pycache__/
*.py[cod]
*.pyc

# Node
frontend/node_modules/
node_modules/

# Database
db.sqlite3

# Environment
.env

# VS Code
.vscode/

# Backup files
*_backup.css
App_backup1.css